:root {
  --background: #6E6E6E;   /*color de fondo*/
  --foreground: #171717;    /*color de fuente*/
}

body {
  color: var(--foreground);
  background: var(--background);  
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;      /*Suavizadores de fuente*/
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;    /*Quita el subrayado de los enlaces*/
}

/* Estiliza la barra de desplazamiento para navegadores basados en WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Color del fondo de la barra */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3E76DF; /* Color de la barra de desplazamiento */
  border-radius: 10px;
  border: 2px solid white;
}

