.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  top:140px;
  height: calc(100vh - 140px); /* Ajusta la altura restando los 100px */
  width: 100%;
  color: white;
  overflow: hidden; /* Evita el scroll */
  position: relative;
}

.legalMove {
  background-color: rgba(0, 150, 255, 0.7);
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


.winnerOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(255, 215, 0, 0.5);
  color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.winnerOverlay h2{
  margin-bottom: 0px;
}

.lostByTime {
  font-size: 1.2rem;
  color: white;
  margin-top: 8px;
}


.trophy {
  font-size: 70px;
  color: gold;
  margin-bottom: 20px;
}

.eloFinal{
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0px;
  margin-top:0px;
}

.reviewButton, .newGameButton, .rematchButton, .newGameButtonCancel {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.reviewButton {
  background-color: #4A90E2;
  color: white;
}

.reviewButton:hover {
  background-color: #357ABD;
}

.newGameButton {
  background-color: #28a745;
  color: white;
}

.newGameButton:hover {
  background-color: #218838;
}

.newGameButtonCancel {
  background-color: #dc3545;
  color: white;
}

.newGameButtonCancel:hover {
  background-color: #c82333;
}

.rematchButton {
  background-color: #dc3545;
  color: white;
}

.rematchButton:hover {
  background-color: #c82333;
}

.winnerActions {
  display: flex;
  gap: 10px;
}

.gameBody {
  display: flex;
  justify-content: space-around; /* Agrega espacio a los lados */
  align-items: center;
  width: 100%;
  height: 100%; /* Asegura que todo ocupe la pantalla sin scroll */
  gap: 50px;
  padding-top: 20px;
  background-color: #555;
}

.movesPanel {
  background-color: #444;
  padding: 15px;
  border-radius: 8px;
  height: 70vh; /* Ajusta la altura para que no cause scroll */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18%;
  align-self: flex-start;
}

.chatPanel {
  background-color: #444;
  padding: 15px;
  border-radius: 8px;
  height: 70vh; /* Ajusta la altura para que no cause scroll */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18%;
  align-self: flex-start;
}

.boardContainer {
  background-color: #222;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 60vh;
  height: 70vh; /* Asegura que el tablero tenga la misma altura que los paneles */
  flex-grow: 1;
  align-self: flex-start; /* Alinea el tablero con los otros paneles */
  position: relative; /* Permite posicionar elementos dentro */
}

.playerInfoTop,
.playerInfoBottom {
  position: absolute;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.playerInfoTop {
  top: 8px;
}

.playerInfoBottom {
  bottom: 8px;
}

.playerName {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 5px;
}

.userElo {
  font-style: italic;
  color: #9a9a9a;
}

.playerTime {
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.greenDot {
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
}

.orangeDot {
  width: 15px;
  height: 15px;
  background-color: orange;
  border-radius: 50%;
  margin-left: 8px;
  display: inline-block;
}

.profilePicture {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.activePlayer {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 3px;
}

.inactivePlayer {
  opacity: 0.5;
  padding: 3px;
  transition: none; /* Desactiva transiciones */
}


.chatInputContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.chatInput {
  flex-grow: 1;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

.sendButton {
  padding: 8px 12px;
  background-color: #4A90E2;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.promotion-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.promotion-modal p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.promotion-modal button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.promotion-modal button:hover {
  background-color: #ddd;
}

.promotion-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.extraActions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.inlineButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1px;
}

.iconButtonTablas, .iconButtonAbandono {
  font-size: 28px;
  background-color: #222;
  border: none;
  cursor: pointer;
  width: 140px;
  height: 50px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.iconButtonAbandono:hover {
  background-color: #c82333;
}

.iconButtonTablas:hover {
  background-color: #357ABD;
}

.chatMessages {
  flex-grow: 1;
  overflow-y: auto;
  text-align: left;
}

.whiteMessage {
  padding: 8px;
  width: fit-content;
  max-width: 50%;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  background-color: #357ABD;
  align-self: flex-end; /* Mueve el mensaje a la derecha */
}

.blackMessage {
  text-align: left;
  padding: 8px;
  width: fit-content;
  max-width: 50%;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  background-color: #555555;
  align-self: flex-start; /* Mueve el mensaje a la izquierda */
}

.chatMessages {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre mensajes */

  padding-right: 12px; /* ✅ Despega el scroll del contenido */
  padding-left: 5px;
}
.messageRowLeft,
.messageRowRight {
  display: flex;
  align-items: center;
  gap: 8px;
}

.messageRowLeft {
  justify-content: flex-start;
}

.messageRowRight {
  justify-content: flex-end;
}

.greenDotOutside,
.orangeDotOutside {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.greenDotOutside {
  background-color: green;
}

.orangeDotOutside {
  background-color: orange;
}

.movesList {
  margin-top: 10px;
  overflow-y: auto;
  height: 100%;
}

.moveRow {
  display: flex;
  gap: 8px;
  margin-bottom: 4px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

.moveNumber {
  width: 24px;
  text-align: right;
}

.whiteMove {
  color: #eee;
}

.blackMove {
  color: #ccc;
}

.loader {
  width: 60px;
  height: 60px;
  border: 8px solid rgba(255, 255, 255, 0.3); /* antes 3px */
  border-top-color: #357ABD;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 25px;
  margin-top: 25px;
  animation: spin 1s linear infinite;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Encima de todo */
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 770px) {
 
  .gameBody {
    display: flex;            /* <--- Esto es lo que falta */
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    align-items: center; /* Centra los elementos */
    gap: 20px; /* Espacio entre elementos */
    overflow-y: auto;
  }

  .boardContainer {
    margin: 0 auto;
    width: fit-content; /* o un ancho máximo adecuado */
  }

  .boardContainer{
    display: flex;
  }

  .playerInfoTop,
  .playerInfoBottom {
    position: relative;
    width: 80%;
    padding: 2px;
  }

  .playerInfoTop{
    margin-bottom: 15px;
  }

  .playerInfoBottom{
    margin-top: 15px;
  }

  /* Ocultar paneles grandes */
  .movesPanel,
  .chatPanel {
    display: none;
  }

  /* Mostrar paneles móviles si existen */
  .movesPanelMobile,
  .chatPanelMobile {
    width: 90%;
    background-color: #444;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 5px;
  }


  .toggleButton {
    background-color: #444;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 90%;
    max-width: 500px;
    margin-bottom: 10px;
  }

  .toggleButton:hover {
    background-color: #666;
  }
}