name: Production CI

on:
  push:
    branches: [main]
  pull_request: 
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  install:
    name: install 游닍
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-node@v4  # 游댳 Cambiado a la versi칩n m치s nueva
      with:
        cache: npm
        node-version: 20
    - name: Install Dependencies
      run: npm ci --force

  lint:
    name: lint 游뿐
    needs: install
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-node@v4
      with:
        cache: npm
        node-version: 20
    - name: Install Dependencies
      run: npm ci --force
    - name: Verify ESLint Config  # 游댳 Agregar paso para verificar ESLint
      run: npx eslint --print-config . | tee eslint-config.json
    - name: Lint
      run: npm run lint

  build:
    name: build 丘뙖잺
    needs: install
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-node@v4
      with:
        cache: npm
        node-version: 20
    - name: Install Dependencies
      run: npm ci --force
    - name: Build Next.js
      run: npm run build
    - uses: actions/upload-artifact@v4  # 游댳 Actualizado a la nueva versi칩n
      with:
        name: .next
        path: .next

  deploy:
    name: deploy 游
    needs: [lint, build]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-node@v4
      with:
        cache: npm
        node-version: 20
    - name: Install Vercel CLI
      run: npm install --global vercel@latest
    - name: Pull Vercel Environment Information
      run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
    - name: Install Dependencies
      run: npm ci --force
    - name: Build and Deploy Next.js to Vercel
      run: vercel --prod --token=${{ secrets.VERCEL_TOKEN }} --confirm
